.p{
    background-color: #2f4454;
    height: 100vh;
}

.tech{
    top: 80%;
    color:rgba(255, 255, 255, 0.8);
    width:60%;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-align: right;
    margin:auto;
    position: relative;
    

}

